@import "node_modules/bootstrap/scss/bootstrap.scss";
/*
@font-face {
    font-family: 'gluten';
    src: url(images/Gluten/Gluten-VariableFont_slnt\,wght.ttf);
  }
  //se añade como fuente de letra principal
  
  $font-family-base: gluten;
*/